#   requirements.txt
#
#   This file lists all Python packages and their versions required for this project.
#   These dependencies will be installed using pip.
#
#   To install the dependencies, run:
#   pip install -r requirements.txt
#
#   Package list:
numpy==1.24.4
pandas==2.2.2
scipy==1.8.0
statsmodels==0.14.2
matplotlib==3.4.3
tqdm==4.66.1
import-ipynb==0.1.4
jupyter==1.0.0
scikit-learn==1.3.2
pickleshare==0.7.5